* {
  box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	cursor: default;
}

.wrapper {
	max-width: 1280px;
	margin: auto;
}

h1 {
	font-size: 2em;
	line-height: 1;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
}

h3 {
	font-family: 'Merriweather', serif;
	font-size: 1.25em;
	font-weight: bold;
}

p {
	margin: 0 0 1.5em 0;
}

nav .line{
	width: 3em;
	height: .3em;
	background: yellow;
	border-radius: 1em;
	margin-top: .25em;
}

nav .line:first-of-type{
	margin-top: .7em;
}

.button {
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	background: yellow;
	color: black;
	display: block;
	text-align: center;
	padding: 12px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
	border-radius: 5px;
}

#page-header {
	background: black;
	color: white;
	border-bottom: 4px solid yellow;
	padding: 0 3%;
}

#page-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

#page-header a {
	color: inherit;
	text-decoration: none;
}

#page-header h1 {
	color: yellow;
	font-family: 'Merriweather', serif;
	font-size: 1.5em;
}

#page-header nav ul {
	display: flex;
}

#page-header nav li:first-child{
	float: right;
	display: none;
	cursor: pointer;
}

#page-header nav a {
  display: inline-block;
  padding: 5px 10px;
}

#page-header nav li a:hover {
	color: yellow;
}

#page-header nav strong {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.tagline {
	font-family: 'Merriweather', serif;
	text-align: center;
	margin: 0;
	padding: 1em 3%;
	font-size: 1.25em;
	line-height: 1em;
	font-style: italic;
	background: #C6C6C6;
	border-top: 1px solid #AAA;
}

.tagline del {
	color: #999;
}

.tagline ins {
	text-decoration: none;
	border-bottom: 3px solid yellow;
}

.banner {
	background: url(../images/coworking.jpg) center center no-repeat;
	background-size: cover;
	padding: 3%;
  box-shadow: inset 0 0 5px rgba(0,0,0,.75);
}

.banner .wrapper {
  display: flex;
  justify-content: flex-end;
}

.blurb {
	background: rgba(255,255,255,.8);
	width: 34%;
	padding: 4%;
	box-shadow: 0 0 5px rgba(0,0,0,.75);
	transition: width 500ms;
}

.blurb > p:first-of-type{
	margin-bottom:0;
}

.touts {
	background: #EEE;
	background: white;
  padding: 2% 0;
  display: flex;
  justify-content: space-between;
}

.tout {
	width: 33%;
	padding: 2% 3%;
	box-shadow: inset -1px 0 0 rgba(0,0,0,.15);
}

.tout:last-child {
  box-shadow: none;
  width: 34%;
}

.tout .button {
	background: #C6C6C6;
}

footer {
	background: black;
	color: white;
	padding: 2% 3%;
}

@media screen and (max-width:1080px) and (min-width: 980px){
	nav{
		font-size: 18px;
	}
}

@media screen and (max-width:980px) and (min-width: 768px){
	nav{
		font-size: 12px;
	}
}

@media screen and (max-width: 768px){
	body{
		font-size: 16px;
	}
	nav{
		width: 100%;
	}
	.tagline,.blurb > p:first-of-type{
		display: none;
	}
	.blurb{
		width: 60%;
  }
  
  .touts {
    display: block;
  }

	.tout, .tout:last-child {
		width: 100%;
		box-shadow: none;
  }

  #page-header {
    overflow: hidden;
  }

  #page-header .wrapper {
    display: block;
  }

	#page-header nav ul {
		display: initial;
    width: 100%;
    float: right;
    margin-top: 20px;
  }
  
	#page-header nav ul li{
    padding: 5px;
  }
  
	#page-header nav li:first-child{
		display: block;
		position: absolute;
		top: .25em;
		right: .5em;
  }
  
	#page-header nav li:first-child #nav-toggle {
		padding: 0;
		font-size: 1.3em;
		color: yellow;
  }
  
	ul{
		height: 0;
		transition: height 1s;
		overflow: hidden;
	}
}
.slideDown{
	height: 15em;
}