
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: open sans;
} 

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-image: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    height: 400px;
    padding: 50px 100px;
}

main {
    background-color: #606161;
    padding: 50px 100px;
    height: 300px;
}

footer {
    background-color:#121212;
    padding: 50px 100px;
    height: 300px;
}

section {
    background-image: url(../images/testimonial_bg.jpg);
    background-repeat: no-repeat;
    height: 200px;
    padding: 50px 100px;
}

aside {
    font-size: 12px;
    border-radius: 5px;
    font-weight: bolder;
    background-color: #f9e42e;
    height: 100px;
    padding: 20px 0px 20px 0px;
}
nav {
    text-align:center;
    padding:  20px 0px 20px 0px;
}

h1 {
    font-size: 24px;
    font-weight: bolder;
    color:white;
    padding: 30px;
    box-sizing: border-box;
}
h2 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color:white;
    margin: 30px;
    padding: 30px;
    box-sizing: border-box;
}

h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 30px;
}


a {
    font-weight: bolder;
    font-size: 14px;
    border-radius: 5px;
    display:block;
    background-color:#f9e42e;
    text-align: center;
    padding: 10px;
    margin: 20px 300px 20px 300px;
    
}

#a2{
    background-color: #121212;
    color:white;
    margin: 0px 400px 0px 400px;
    padding: 20px;
}

#a3 {
    font-size:20px;
    background-color:#121212;
    display: inline;
    margin:0px; 
}


a:link {
    color:#121212;
    text-decoration: none;
}

a:hover {
    color:  #0000FF;
    text-decoration: underline;
}


p {
    font-weight: 400;
    font-size:13px;
    margin: 30px;
}
li {
    font-weight: 400;
    font-size:13px;
    margin: 5px 0px 5px 60px;
}

blockquote {
    font-weight:400;
    font-size:18px;
    font-style: italic;
    color: white;
    text-align:center;
    font-family: 'Indie Flower', cursive;
}
span{
    font-weight: bold;
    font-size:18px;
    color: white;
    text-align:center;
    display:block;
}



h4 {
    font-weight: bolder;
    font-size: 24px;
    color:#f9e42e;
    text-align:center;
    border-color: #121212;

}

#span2 {
    font-size: 9px;
    font-weight: bold;
}

