.message{
    background-color:yellow;
    border: 1px solid red;
    padding: 10px;
    
}

#notification {
    background-color:red;
    border: 5px solid black;
    padding: 20px;
}

.error {
    background-color: blue;
    border: 5px solid black;
}

.success {
    background-color:green;
    border: 5px solid black;
}

