/**
background color: #f0efef
yellow: #f9e42e
dark blue: #033048
light grey: #606161
almost black: #121212

Font: Open Sans (Google Font: https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans)
Weight: Light, Light Italic, Semibold, Extrabold

Nav: Semibold, 24px

Main column width: 700px
Sidebar width: 240px
Gutter (i.e. space between columns): 20px

Post Titles - 40px, semibold
"How I implemented Relaxr in 2 weeks and changed my life."
"I traveled across the globe thanks to Relaxr’s Excel automation"

Body text - Light 24px
Read More - 24px semibold

Sidebar headers - 32px, extra bold
Categories list - 24px, light
"Success stories
Stats
How tos
Best of
Business tips"

About text - 22px light
Proin sed justo vel sapien varius auctor. Proin scelerisque massa at luctus tincidunt. Fusce porttitor, sapien sed tincidunt fringilla.
Learn More - Semibold, 22

*//


/******************************************
/* GENERAL LAYOUT
/*******************************************/

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: open sans;
} 

#wrapper {
  max-width: 960px;
  margin: 0 auto;
}

a:link {
  color:white;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: underline;
}

/******************************************
/* HEADER
/*******************************************/

header {
  background-color: blue;
  height: 100px;
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bolder;
  color:white;
  padding: 20px;
  box-sizing: border-box;
  float:left;
}

header nav{
  margin: 20px 100px 0px 0px;
  text-align:right;
}

header nav a {
  padding: 20px;
}

header nav a:link {
  color:yellow;
  font-weight: bolder;
}


/******************************************
/* MAIN BODY
/*******************************************/


main {
  background-color:rgb(250, 250, 250);
  padding: 50px 100px;
  display:flex;
  align-items:center;
  justify-content: space-between;
  align-items: flex-start;
}

#leftColumn {
  width:80%;
}

#rightColumn{
  width:15%;
}

article img {
  width:500px;
}

a.Learn:link {
  color: darkblue;
  font-weight: bolder;
}

.Read {
  display:block;
  text-align: right;
}

#AdUnit {
  text-align:center;
}


/******************************************
/* FOOTER
/*******************************************/


aside {
  background-color: yellow;
  padding: 20px 0px 20px 0px;
}
aside a {
  font-weight: bolder;
  font-size: 14px;
  border-radius: 5px;
  display:block;
  background-color:blue;
  text-align: center;
  padding: 10px;
  margin: 20px 300px 20px 300px;
  
}


footer {
  background-color:#121212;
  padding: 50px 100px;
  height: 300px;
}

h4 {
  font-weight: bolder;
  font-size: 24px;
  color:#f9e42e;
  text-align:center;
  border-color: #121212;

}

footer nav {
  text-align:center;
  padding:  20px 0px 20px 0px;
}

#a3 {
  font-size:20px;
  background-color:#121212;
  display: inline;
  margin:0px; 
}

#span2 {
  font-size: 9px;
  font-weight: bold;
  color: white;
  text-align:center;
  display:block;
}




