
body {
    font-family:arial;
}
header {
    text-align: left;
    font-size: 20px;
    background-color: rgb(22, 63, 175);
    padding: 20px;
    color:white;
}

a {
    font-size: 20px;
    color: white;
}


h1 {
    font-size: 30px;
}

h2{
    font-size: 20px;
}

footer {
    text-align:center;
    background-color:  rgb(207, 216, 243);
    padding: 20px;
    color: black;
}

footer a{
    color:black;
}
